@font-face {
    font-family: 'Monocraft';
    src: url('./assets/Monocraft.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
}

/* General styles */
body {
    font-family: 'Monocraft', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;  /* Dark background */
    color: #E0E0E0;  /* Light gray text */
}


/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding: 15px 30px;
    color: #E0E0E0;
}

/* Left section for logo */
.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 200%;
    font-weight: bold;
}

.pietro {
    color: white;
}

.ty {
    color: #6A4C9C;  /* Violet color for "Ty" */
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #6A4C9C;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;

}

nav ul li a:hover {
    color: #9A6AAB;
}

/* Language toggle button */
.language-toggle {
    background-color: #6A4C9C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.language-toggle:hover {
    background-color: #9A6AAB;
}


/* Section styles */
section {
    padding: 50px 2%;
    margin: 20px 2%; /* Auto margin for centering */
    background-color: #1a1a1a; /* Slightly lighter dark background for sections */
    border-radius: 10px; /* Rounded corners */
    font-size: 100%;
  }

/* About section */
section#about {
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #6A4C9C;  /* Violet left border */
}

.about-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 60%;
}

.about-text h2 {
    color: #E0E0E0;
    border-bottom: 2px solid #6A4C9C; /* Unified violet underlining */
    padding-bottom: 10px;
}

.about-text p {
    color: #E0E0E0;
}

.about-image {
    position: relative; /* Enable positioning of child elements */
    width: 25%;
    text-align: center;
}

.about-image .main-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-image .overlay-image {
    position: absolute;
    width: 25%; /* Make the smaller image much smaller */
    bottom: 10px; /* Adjust distance from the bottom */
    left: 10px; /* Adjust distance from the left */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}


/* Skills section styling */
section#skills {
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #6A4C9C;  /* Violet left border */
}

/* Progress bar styling */
/* Progress bar container */
.progress {
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #333; /* Dark background for the container */
}

/* Progress bar itself */
.progress-bar {
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
    background-color: #6A4C9C !important; /* Use !important to override Bootstrap styles */
}


.skills-section h2 {
    color: #E0E0E0;
    border-bottom: 2px solid #6A4C9C; /* Unified violet underlining */
    padding-bottom: 10px;
}

section#skills ul {
    list-style: none;
}

section#skills ul li {
    color: #E0E0E0;
}

/* Projects section */
section#projects {
    border-left: 5px solid #6A4C9C;
}

.projects-section h2 {
    color: #E0E0E0;
    border-bottom: 2px solid #6A4C9C; /* Unified violet underlining */
    padding-bottom: 10px;
}

section#projects h3 {
    color: #6A4C9C; /* Unified violet for project titles */
}

section#projects li {
    color: #E0E0E0;
}

/* Contact section styles */
section#contact {
    border-left: 5px solid #6A4C9C;
    background-color: #1A1A1A;
    border-radius: 10px;
}

.contact-content h2 {
    color: #E0E0E0;
    border-bottom: 2px solid #6A4C9C; /* Unified violet underlining */
    padding-bottom: 10px;
}

.contact-content p {
    color: #E0E0E0;
    margin-bottom: 20px;
}

/* List of contact links */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #6A4C9C;
    text-decoration: none;
    font-size: 150%;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #9A6AAB; /* Slightly lighter violet on hover */
}

/* Buttons styling */
button {
    background-color: #6A4C9C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9A6AAB; /* Slightly lighter violet on hover */
}